@media only screen and (min-width:1091px) {
    .show-lang-curr {
        display: none
    }
}
[dir="rtl"] .header-2 .header-nav-left .category-dropdown {
    left: unset !important;
}

[dir="rtl"] .product-box-4 .product-detail {
    text-align: right !important;
}

@media only screen and (min-width:767px) {
    [dir="rtl"] header .onhover-category-list .onhover-category-box {
        left: unset !important;
        right: 100% !important;
    }

}

@media only screen and (min-width:767px) {
    .ribbon-content {
        min-height: 384px;

    }

}

[dir="rtl"] * {
    font-family: 'El Messiri', sans-serif;
}

[dir="rtl"] .fa-angle-right,
.fa-angle-left {
    transform: rotate(180deg);
    transition-duration: 0ms;
}


[dir="rtl"] .was-validated .form-control:invalid,
.form-control.is-invalid {
    background-position: left calc(0.375em + 0.1875rem) center;
}

[dir="rtl"] header .onhover-dropdown .onhover-div {
    right: 20px;
    left: unset;
}

[dir="rtl"] header .onhover-dropdown .onhover-div-login .user-box-name li a::after {
    left: unset;
    right: 0;
}

.cart-list::-webkit-scrollbar {
    width: 2px;
}

.cart-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.cart-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.cart-list {
    max-height: 500px;
    overflow-y: scroll;
    /* padding: 10px; */
}

.image-color {
    filter: invert(35%) sepia(77%) saturate(5640%) hue-rotate(339deg) brightness(93%) contrast(85%) !important;

}

.nav-none::before {
    content: '' !important;

}

.owl-carousel.owl-rtl {
    z-index: 0;
}

.drop-cart {
    width: 272px !important;

}

.item-section {
    right: -230px !important;
    z-index: 9999 !important;

}

.item-section.active {
    right: 0 !important;
}

.modal {
    z-index: 9000 !important;
}

@media (max-width: 575px) {
    .alert {
        font-size: 14px;
    }

    .btn-close {
        font-size: 18px;
    }
}

.bg-overlay.show {
    z-index: 0;
}

.ribbon {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    background-color:  maroon;
    transform: rotate(45deg);
}

@media only screen and (max-width: 767px) {
    [dir="rtl"] .deal-section .deal-box .category-image img {
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .header-2 .header-nav-left .category-dropdown.show {
        overflow-y: scroll !important;
    }
}

.badge-warning {
    background: unset !important;
    background-color: #ffc107 !important;
    color: #212529 !important;
}

.badge-success {
    background: unset !important;
    background-color: #28a745 !important;
    color: #ffffff !important;
}

.badge-info {
    background: unset !important;
    background-color: #4dd5ec !important;
    color: #ffffff !important;
}

.badge-danger {
    background: unset !important;
    background-color: #dc3545 !important;
    color: #ffffff !important;
}

@media (max-width: 480px) {
    .product-box-4 .product-detail .price-qty {
        display: flex !important;
        align-items: flex-end !important;
    }

    .product-box-4 .product-detail .price-qty .counter-number {
        margin-bottom: unset !important;
        width: 200px !important;

    }

    .product-box-4 .product-detail .price-qty .buy-button {
        width: unset !important;
        margin-right: 10px !important;
    }

}

@media (max-width: 991px) {
    .show-button {
        display: inline-flex;
    }

    .filter-button-group {
        margin-top: 18px !important;
    }
    .top-filter-menu {
        left: unset!important;
        right: 10%!important;
        position: absolute;
    }
    [dir="rtl"] .top-filter-menu {
        left: 10%!important;
        right: unset!important;
        position: absolute;
    }
    
}

@media (max-width: 767px) {

    .col-xxl-2,
    .col-lg-3,
    .col-md-4,
    .col-6 {
        width: 100%;
        float: none;
        display: block;
        margin-bottom: 20px;
    }
}



.custom-nav .nav-item .nav-link.active::after {
    background: #462B60 !important;
}
.product-section-box .custom-nav .nav-item .nav-link:focus::after, .product-section-box .custom-nav .nav-item .nav-link:hover::after, .product-section-box .custom-nav .nav-item .nav-link.active::after {
    background: #462B60!important;
}
.product-box-4 .product-detail a .name {
    width: 100% !important;
    font-weight: 900 !important;
    font-size: 18px !important;
}

.product-box-4 .product-detail .price {
    font-weight: 600 !important;
}

.deal-section .deal-box .deal-detail h5 {
    height: 43px;
    overflow: hidden;
}

.deal-section .deal-box .category-image {
    max-height: 218px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.service-box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50% !important;
}

.icon-width {
    background-color: #fff;
}

#state,
#city {
    background-image: unset;
}

/* .service-contain .service-box+.service-box::before{
    left: unset!important;
    right: 0!important;
} */
.footer-section-2 {
    background: linear-gradient(rgb(251, 251, 251), rgb(199, 199, 199, 0.87)), url('/assets/admin/images/favicon.png') no-repeat;
}

.unit {
    font-size: 1rem !important;
}

.product-box-4 .product-detail * {
    margin-top: 5px !important;

}
.product-box-4 .product-image .item   {
    right: 0!important;
    bottom: 0!important;
    position: absolute!important;
    
}
[dir="rtl"] .product-box-4 .product-image .item   {
    right: unset !important;
    left: 0!important;
}
/* .deal-detail .item   {
    right: 0!important;
    bottom: 0!important;
    position: absolute!important;
    
}
[dir="rtl"] .deal-detail .item   {
    right: unset !important;
    left: 0!important;
} */

.ribbon-content .product-image img {
    width: 100% !important;
    height: 300px!important;
    /* margin: 15px!important; */
}
.service-contain .service-box+.service-box::before {
    left: 0!important;
    right: unset!important;
}
[dir="rtl"] .service-contain .service-box+.service-box::before {
    left: unset!important;
    right: 0px!important;
}
.header-2 .top-nav{
    background: url(https://namirbookstore.com/img/navbar.png) no-repeat , right , center;
    background-size: cover;
}
header .top-nav .navbar-top .web-logo img{
    filter: brightness(0) invert(1);
}
.header-2 .top-nav span .icli {
    filter: brightness(0) invert(1);
}
@media (max-width: 767px){
    .header-2 .top-nav {
        padding-bottom: 14px!important;
    }
}
.header-2 .rightside-menu .option-list>ul>li+li::after,.header-2 .rightside-menu .dropdown-dollar .dropdown+.dropdown::after {
    content: unset!important;
}
.header-2 .top-nav span {
    color: #ffffff!important;
}
.header-2 .rightside-menu .dropdown-dollar .dropdown .dropdown-toggle{
    color: #ffffff!important;

}
.header-2 .rightside-menu .option-list>ul>li .header-icon .badge-number {
    background-color: #d17274!important;
}
.g-recaptcha{
    margin-bottom: 20px;
}
.home-contain .home-detail h3 {
    text-align: left!important;
    text-align: center!important;
    font-size: 20px!important;
    border-radius: 5px!important;
}
.input-group .btn {
    z-index: 0!important;
}
header .onhover-dropdown .onhover-div .cart-list li .drop-cart .drop-contain h6 span {
    color: #4a5568 !important;
}