/**=====================
     Theme Setting scss
==========================**/
.setting-box {
    background-color: var(--theme-color);
    padding: 0;
    border-radius: 5px;
    z-index: 1;
    position: relative;
    transition: all 0.3s ease-in-out;

    .setting-button {
        @include flex_common;
        @include pseudowh($width: calc(30px + (40 - 30) * ((100vw - 320px) / (1920 - 320))), $height: calc(30px + (40 - 30) * ((100vw - 320px) / (1920 - 320))));
        padding: 0;
        color: $white;
    }
}